@{
    ViewData["Title"] = "Student Resources";
    Layout = "~/Views/Shared/_LayoutLandingSecondary.cshtml";
}


<h1>Student Resources</h1>
<div class="alert alert-info">
    The following resources can also be used in your search for financial aid.
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://bigfuture.collegeboard.org/scholarship-search" class="float-left">
                            <img alt="image" src="~/images/resources/bigfuture.png">
                        </a>
                        <div class="media-body">
                            <a href="https://bigfuture.collegeboard.org/scholarship-search">
                                College Board Scholarship Search
                            </a>
                            <small class="text-muted">https://bigfuture.collegeboard.org/scholarship-search</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            The scholarship application process is very similar to the college application process. First, you filter a large list of possible choices into a focused list that matches your needs. Then you create compelling applications that are supported by your achievements, essays, recommendations and interviews. College Board gives some good tips to help you create strong scholarship applications.
                        </p>
                    </div>
                </div>


                <div class="social-feed-box" style="padding-left: 150px;">
                    <div class="social-avatar">
                        <a href="" class="float-left">
                            &nbsp;
                        </a>
                        <div class="media-body">
                            <a href="http://www.blackexcel.org/100minority.htm">
                                100 Minority Scholarship Gateway List
                            </a>
                            <small class="text-muted">http://www.blackexcel.org/100minority.htm</small>

                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            Black Excel has presented gateways to well over 1000 Scholarships for students nationwide. In the Black Excel African American Student's College Guide (available at major bookstores and at Amazon.com), we list hundreds of scholarships and provide a step-by-step tutorial.
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="http://www.brokescholar.com/" class="float-left">
                            <img alt="image" src="~/images/resources/brokescholar.png">
                        </a>
                        <div class="media-body">
                            <a href="http://www.brokescholar.com/">
                                BrokeScholar
                            </a>
                            <small class="text-muted">http://www.brokescholar.com/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            BrokeScholar is one of the web’s largest free scholarship search engines, featuring undergraduate, graduate, and professional scholarship awards. Launched in 2002, the site offers access to a database of over 2,000 scholarships worth $3 million in a less-commercial environment than other scholarship search engines.
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://christianconnector.com/index.cfm" class="float-left">
                            <img alt="image" src="~/images/resources/christianconnector.png">
                        </a>
                        <div class="media-body">
                            <a href="https://christianconnector.com/index.cfm">
                                The Christian Connector
                            </a>
                            <small class="text-muted">https://christianconnector.com/index.cfm</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            For around 20 years The Christian Connector has been providing free Christian college information to students and their families. We work with about 75 different Christian colleges each year, providing a "connection" point between students seeking Christian college information and the Christ-centered schools.
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://collegetreasure.com/index.php" class="float-left">
                            <img alt="image" src="~/images/resources/collegetreasure.gif">
                        </a>
                        <div class="media-body">
                            <a href="https://collegetreasure.com/index.php">
                                CollegeTreasure.com
                            </a>
                            <small class="text-muted">https://collegetreasure.com/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            Search our Database of College-based merit scholarships (The average scholarship is worth $8,340 and renewable for all 4 years). This is one of the quickest and easiest ways to find merit based scholarships and academic scholarships for college!
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://www.fastweb.com/" class="float-left">
                            <img alt="image" src="~/images/resources/fastweb.png">
                        </a>
                        <div class="media-body">
                            <a href="https://www.fastweb.com/">
                                FastWeb
                            </a>
                            <small class="text-muted">https://www.fastweb.com/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            Everybody wants to go to college for free and, at Fastweb, we’re in the business of helping students achieve that dream through offering a simplified college scholarship search. From the start, our goal has been to eliminate the “search” from the scholarship search, allowing us to find scholarships that match the qualifications and interests of each student that we serve. Ultimately, we save our students time, match them to college scholarships that they may not have otherwise found and keep them organized throughout the whole process.
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://www.finaid.org/" class="float-left">
                            <img alt="image" src="~/images/resources/finaid.gif">
                        </a>
                        <div class="media-body">
                            <a href="https://www.finaid.org/">
                                FinAid!
                                </a>
                            <small class="text-muted">https://www.finaid.org/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            Search for scholarships that match your profile! (But beware of scholarship scams.)
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://www.financialaidfinder.com/" class="float-left">
                            <img alt="image" src="~/images/resources/financialaidfinder.gif">
                        </a>
                        <div class="media-body">
                            <a href="https://www.financialaidfinder.com/">
                                Financial Aid Finder
                            </a>
                            <small class="text-muted">https://www.financialaidfinder.com/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            The management team of Financial Aid Finder has been producing top rated financial aid resources since 1993. A few years ago, we decided to bring these resources to the public for free. Financial Aid Finder believes that in today’s economic market students need all the help they can get in finding and evaluating college financial aid options to help them pay for their college and university education.
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://www.iefa.org/" class="float-left">
                            <img alt="image" src="~/images/resources/iefa.png">
                        </a>
                        <div class="media-body">
                            <a href="https://www.iefa.org/">
                                IEFA Financial Aid
                            </a>
                            <small class="text-muted">https://www.iefa.org/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            IEFA is the premier resource for college scholarship and grant information for students wishing to study abroad. You'll find the most comprehensive college scholarship search and grant listings.
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="https://www.internationalscholarships.com/" class="float-left">
                            <img alt="image" src="~/images/resources/internationalscholarships.png">
                        </a>
                        <div class="media-body">
                            <a href="https://www.internationalscholarships.com/">
                                International Scholarships
                            </a>
                            <small class="text-muted">https://www.internationalscholarships.com/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            The International Scholarship Search is the premier financial aid, college scholarship and international scholarship resource for students wishing to study abroad. At this site, you will find the most comprehensive listing of grants, scholarships, loan programs, and other information to assist college and university students in their pursuit to study abroad.
                        </p>
                    </div>
                </div>

                <div class="social-feed-box">
                    <div class="social-avatar">
                        <a href="http://www.naacp.org/naacp-scholarships/" class="float-left">
                            <img alt="image" src="~/images/resources/naacp.png">
                        </a>
                        <div class="media-body">
                            <a href="http://www.naacp.org/naacp-scholarships/">
                                NAACP Scholarships
                            </a>
                            <small class="text-muted">http://www.naacp.org/naacp-scholarships/</small>
                        </div>
                    </div>
                    <div class="social-body">
                        <p>
                            Each year the NAACP, through generous donations, is able to provide scholarships to outstanding students.  It is the duty of our dedicated Scholarship Committee to determine the most outstanding individuals to receive these awards.  The NAACP does not provide financial aid to individuals, only scholarships through this process.
                        </p>
                    </div>
                </div>


                <p style="margin: 0 0 100px 0;">

                </p>
                <hr>
                <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back</a>

            </div>
        </div>
    </div>
</div>


@section Styles
{
    <style type="text/css">
        .social-avatar img {
            height: 140px;
            width: 140px;
        }
        .social-feed-box {
            min-height: 170px;
        }
    </style>
}
