@model Scholarships.Models.TaskViewModels.TranscriptViewModel


@{
    ViewData["Title"] = "Upload Transcripts";
}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Admin" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <strong>Administration</strong>
        </li>
        <li class="breadcrumb-item active">
            <strong>Transcripts</strong>
        </li>
    </ol>

<h2>Upload Transcripts</h2>

<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-9">
                Thank you for uploading the latest transcript PDF - Processing of the PDF is underway.
            </div>
        </div>

    </div>
</div>
