/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.tabs-container {
    width: 75%;
}

.text-margin-shrink {
    margin: -5px 0px 0px 5px;
}

span.grippy {
    content: '....';
    width: 20px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: middle;
    margin-top: -.7em;
    margin-right: .3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px black;
}

span.grippy::after {
    content: '.. .. .. ..';
}

span.grippyhorizontal {
    position: relative !important;
    content: '....';
    width: 40px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    padding: 3px 4px;
    cursor: move;
    vertical-align: middle;
    margin-top: -.7em;
    margin-right: .3em;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #cccccc;
    text-shadow: 1px 0 1px black;
}

    span.grippyhorizontal::after {
        content: '.... ....';
    }

.questioneditor-option {
    border: solid 1px #f9f9f9;
    background: #fcfcfc;
}

.questioneditor-option-editor {
    display: inline-block;
    width: 75%
}


.questioneditor-option-editor input {
    border-top: 0px;
    height: 20px;
    line-height: 1.0;
    border-right: 0px;
    border-left: 0px;
    border-bottom: solid 1px lightgray;
    background: #fcfcfc;
}

.questioneditor-addbtn {
    color: darkgray;
    margin: 0 3px 3px 8px;
    padding: 0.4em;
    padding-left: 1.5em;
    height: 30px;
}

.questioneditor-addbtn i {
    margin-left: 10px;
    margin-right: 8px;
}

.questioneditor-addbtn-add {
    padding-left: 15px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner i {
    margin-right: 8px;
}

.bootstrap-select .dropdown-menu li a span.text 
{
    padding-left: 8px;
}

.questioneditor-options {
    margin: 5px 0px 5px 0px;
}

.questioneditor-options i {
    margin-left: 10px;
    margin-right: 8px;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    height: 30px;
}

.sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

.qsortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: auto; <- this needed? */
}

    .qsortableli {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        border: solid 1px #eee;
        background: #fcfcfc;
    }

.breadcrumb {
    background-color: transparent;
    margin-bottom: 10px;
}

.scholarship-detail h4 {
    text-decoration: underline;
}

.scholarship-detail .indent {
    margin-left: 20px;
    margin-bottom: 20px;
}

#appform .row {
    border-bottom: dotted 1px #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
}

#appform .control-label {
    font-weight: 500;
    font-size: 15px;
}


.wizard .content {
    min-height: 100px;
}

.wizard .content > .body {
    width: 100%;
    height: auto;
    padding: 15px;
    position: absolute;
}

.wizard .content .body.current {
    position: relative;
}

.dropzone {
    width: 100%;
}

.article-title {
    text-align: left;
    margin: 0px 0 30px 0;
}

.ibox-legend {
    width: auto;
    padding: 0px 10px;
    margin-left: 10px;
    font-weight: 500;
    margin-bottom: -.5rem;
}

.scholarship-watermark {
    background: url("/img/landing/roverdog.png") center center no-repeat;
    opacity: 0.03;
    opacity: 0.03;
    position: absolute;
    width: 100%;
    height: 100%;
}
