@model Scholarships.Models.Forms.Question

    <div class="form-group">
        <label class="control-label">@Model.Name</label>
        <div style="border: solid 1px black; padding: 5px; width: 100%">
            @Model.Answer.Response
        </div>
    </div>