@model Scholarships.Models.Forms.Question

@{ 
    var selectList = new SelectList(Model.Options, "QuestionOptionId", "Name", Model.Answer.QuestionOptionId);
    var answer = Model.Options.FirstOrDefault(x => x.QuestionOptionId == Model.Answer.QuestionOptionId);
}

    <div class="form-group">
        <label class="control-label">@Model.Name</label>
        <span>
        Response: @answer?.Name
        </span>
    </div>