@model Scholarships.Models.Forms.Question

<!-- https://stackoverflow.com/questions/58815724/how-to-integrate-dropzone-js-with-asp-net-core-mvc -->
<div class="dropzone" data-questionid="@Model.QuestionId" data-answersetid="@Model.Answer.AnswerSetId"></div>