@model Scholarships.Models.Forms.QuestionSet

@using Scholarships.Models.Forms

@{
    Layout = null;
}

@if (Model.Questions?.Count != 0)
{
    <div class="col-lg-12">

        <fieldset class="ibox">
        <legend class="ibox-legend">Additional Questions</legend>
            <div class="ibox-content">

                @foreach (var answerset in Model.AnswerSets)
                {

                    @for (int i = 0; i < Model.Questions.Count; i++)
                    {
                        var question = Model.Questions[i];

                        if (question == null)
                        {
                            continue;
                        }
                        if (question.Name == null)
                        {
                            question.Name = "";
                        }

                        // Do we have an answer to this question?
                        question.Answer = answerset.Answers.FirstOrDefault(a => a.QuestionId == question.QuestionId);
                        question.Index = i;
                        question.AnswerSetIndex = @answerset.Index;

                        <div class="row">
                            <div class="col-12">
                                @await Html.PartialAsync("_App" + question.Type.ToString() + "Partial", question)
                            </div>
                        </div>
                    }

                }

            </div>
        </fieldset>
    </div>

}
