@model Int32

<a class="btn btn-white btn-bitbucket" asp-action="Edit" asp-route-id="@Model"><i class="fa fa-wrench"></i> Edit</a>
<a class="btn btn-white btn-bitbucket" asp-action="Delete" asp-route-id="@Model"><i class="fa fa-trash"></i> Delete</a>
