<div class="collapse navbar-collapse justify-content-end" id="navbar">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link page-scroll" href="/">Home</a></li>
        <li><a class="nav-link page-scroll" href="/#news">News</a></li>
        <li><a class="nav-link page-scroll" href="#team">Student Resources</a></li>
        <li><a class="nav-link page-scroll" href="#testimonials">About</a></li>
        <li><a class="nav-link page-scroll" href="#contact">Login</a></li>
    </ul>
</div>