<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EAHS Scholarships</title>

    <link rel="stylesheet" href="scholarship-application-css" />

    @RenderSection("Styles", required: false)
</head>
<body class="landing-page" id="page-top">
    
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">EASD Scholarships</a>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
                    <li><a class="nav-link page-scroll" href="#news">News</a></li>
                    <li><a class="nav-link page-scroll" href="#team">Student Resources</a></li>
                    <li><a class="nav-link page-scroll" href="#howthisworks">How This Works</a></li>
                    <li><a class="nav-link page-scroll" href="/Admin">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

@RenderBody()

@await Html.PartialAsync("_LayoutLandingFooter.cshtml")

    <!-- Libraries -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/Popper/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

    <!-- Custom Scripts -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- INSPINIA -->
    <script src="~/lib/metisMenu/dist/jquery.metisMenu.js" asp-append-version="true"></script>
    <script src="~/lib/slimScroll/jquery.slimscroll.js" asp-append-version="true"></script>
    <script src="~/lib/pace/pace.js" asp-append-version="true"></script>
    <script src="~/lib/wow/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
