@using Microsoft.AspNetCore.Identity
@using Scholarships.Models.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ 
                var handlingController = this.ViewContext.RouteData.Values["controller"].ToString();
                var handlingAction = this.ViewContext.RouteData.Values["action"].ToString();

                var adminClass = "";
                var manageClass = "";


                switch (handlingController)
                {

                    // Scholarship Setup
                    case "Scholarships":
                        if (new[] { "Manage", "Create", "Edit", "Delete" }.Contains(handlingAction) )
                            manageClass = "active";
                        break;
                    case "FieldsOfStudy": manageClass = "active"; break;
                    case "Articles": manageClass = "active"; break;

                    // Admininstration
                    case "Users": adminClass = "active"; break;
                    case "Configuration": adminClass = "active"; break;
                    case "Task": adminClass = "active"; break;

                }
            }

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                var role = (await UserManager.GetRolesAsync(user)).FirstOrDefault();
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img src="~/images/logo.svg" style="height: 75px" />
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">@user.FullName</strong>
                                </span>
                                <span class="text-muted text-xs block">@role <b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a onclick="document.getElementById('logoutForm').submit()">Logout</a>
                            </li>
                            <li>
                                <a asp-controller="Manage" asp-action="Index">My Account</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        <i class="fa fa-bell"></i>
                    </div>
                </li>
                <li is-active-route asp-controller="Admin">
                    <a asp-controller="Admin" asp-action="Index"><i class="fa fa-dashboard"></i><span class="nav-label">Dashboard</span></a>
                </li>
                @if (User.IsInRole("Student") || User.IsInRole("Admin"))
                {
                    <li is-active-route asp-controller="Profile" asp-action="Edit">
                        <a asp-controller="Profile" asp-action="Edit"><i class="fa fa-user-circle"></i><span class="nav-label">Your Profile</span></a>
                    </li>
                    <li is-active-route asp-controller="Scholarships" asp-action="Index">
                        <a asp-controller="Scholarships" asp-action="Index"><i class="fa fa-graduation-cap"></i><span class="nav-label">Scholarships</span></a>
                    </li>
                }
        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li id="nav_manage" class="@manageClass">
                        <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Manage</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li is-active-route asp-controller="Scholarships">
                                <a asp-controller="Scholarships" asp-action="Manage">Scholarships</a>
                            </li>
                            <li is-active-route asp-controller="FieldsOfStudy">
                                <a asp-controller="FieldsOfStudy" asp-action="Index">Fields Of Study</a>
                            </li>
                            <li is-active-route asp-controller="Articles">
                                <a asp-controller="Articles" asp-action="Index">Articles</a>
                            </li>
                        </ul>
                    </li>
                }
    @if (User.IsInRole("Admin"))
                {
                    <li id="nav_admin" class="@adminClass">
                        <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">Administration </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li is-active-route asp-controller="Users">
                                <a asp-controller="Users" asp-action="Index">Manage Users</a>
                            </li>
                            <li is-active-route asp-controller="Tasks">
                                <a asp-controller="Task" asp-action="Hangfire">Tasks</a>
                            </li>
                            <li is-active-route asp-controller="Tasks">
                                <a asp-controller="Task" asp-action="Transcripts">Transcripts</a>
                            </li>
                            <li is-active-route asp-controller="Configuration">
                                <a asp-controller="Configuration" asp-action="Index">Configuration</a>
                            </li>
                        </ul>
                    </li>
                }
            }
            else
            {
                // not signed in
            }
        </ul>
    </div>
</nav>