@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">Unauthorized Domain</h2>
    <p class="text-danger">Please login with the email address issued to you by Easton Area School District. (@@eastonsd.org, or @@roverkids.org)</p>
</header>
